/* 

div#converter-container {
  background:red;
  width: 70%;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px 0 lightgrey;
}

span.left {
  font-weight: bold;
}

span.right {
  float:right;
}

.form-inline .form-control { 
  display: inline-block !important; 
  width: auto!important
} */

@media (max-width: 769px) {
 .lhyt {
  line-height: 2.15;
   
 } 
 .res {
  max-width: 100%;
 }
 .padtext {
  padding: 0px 10px
}
}