.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    /* background: tomato; */
    padding: 5px;
    width: 320px;
    height: 300px;
  line-height: 300px;
    border:1px solid blue;
    /* line-height: 150px; */
    color: white;
    /* font-weight: bold; */
    /* font-size: 3em; */
    text-align: center;
  }

  .container {
  padding: 30px;
}

.gd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  margin: 30px;
  width:60%
}

.gd > article {
  border: 0px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .gd { grid-template-columns: repeat(1, 1fr);
    grid-gap:10px;
    width:auto;
    margin: 0px 10px;
   }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  margin: 30px;
  width:70%
}

.grid > article {
  border: 0px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  width: 100%;
}

.grid .text {
  padding: 20px;
}

@media (max-width: 600px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

.gridd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  margin: 30px;
  width:60%
}

.gridd > article {
  border: 0px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.gridd > article img {
  width: 100%;
}

.gridd .text {
  padding: 20px;
}

.fsm {font-size:4rem}


@media (max-width: 769px) {
  .gridd { grid-template-columns: repeat(2, 1fr); }
  .respo {width:100% !important}
  .fs{font-size:2rem}
  .img {display: none;}
}

.marque{
  background-color: #fff;
  color: pink;
  padding: 5px;
}
.content {
  -moz-animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 15s linear infinite;
}
@-moz-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}